{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 5%", "last 2 versions"]
      },
      "modules": false,
      "loose": true,
      "debug": false
    }],
    "jest"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
